<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Summitrack</title>
  <link rel="stylesheet" href="/css/all.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="icon" type="image/png" th:href="@{/images/IconoSummitrack.png}">
</head>
<body>

  <div th:insert="fragments/header :: header"></div>

  <h1>Personas</h1>
  <div class="contenedorTabla">
    <table>
      <tr>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Edad</th>
        <th>Top global</th>
        <th>Genero</th>
      </tr>
      <tr th:each="persona : ${personas}" th:onclick="|window.location='/persona/persona?id=${persona.id}'|" style="cursor: pointer;">
        <td th:text="${persona.nombre}"></td>
        <td th:text="${persona.apellidos}"></td>
        <td th:text="${persona.edad} + ' años'"></td>
        <td th:text="${persona.salirTop} ? '✅' : '❌'"></td>
        <td th:text="${persona.genero}"></td>
      </tr>
    </table>
  </div>
  <div class="buttons-container">
      <a th:href="|/anadir/persona|">Añadir</a>
      <a th:href="|/ver|">Salir</a>
  </div>
</body>
</html>