<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <title>Summitrack</title>
  <link rel="icon" type="image/png" th:href="@{/images/IconoSummitrack.png}">
</head>
<body style="margin: 0; height: 100vh; display: flex; justify-content: center; align-items: center; text-align: center;">
  <h2 style="font-size: 24px; color: #4CAF50;" th:if="${isExitoso}">Monte guardado correctamente. Cerrando ventana...</h2>
  <h2 style="font-size: 24px; color: red;" th:unless="${isExitoso}">Ha habido un error. Cerrando ventana...</h2>

  <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
      if (window.opener && !window.opener.closed) {
        window.opener.location.reload();
      }
      window.close();
    });

    setTimeout(function() {
        window.close();
    }, 750);
  </script>
</body>
</html>
