<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Summitrack</title>
    <link rel="stylesheet" href="/css/add.css">
    <link rel="icon" type="image/png" th:href="@{/images/IconoSummitrack.png}">
</head>
<body>

<div class="contenedorAdd" style="padding-top: 40px; min-height: 0vh;">
  <h1 style="margin-top: 10px !important;">SUMMITRACK</h1>

  <form action="#" th:action="@{/mapa/guardar}" th:object="${monte}" method="post">

      <input type="hidden" th:if="${editar}" th:field="*{id}"/>

      <p>Nombre: <input type="text" th:field="*{nombre}" required/></p>

      <p>Altura: <input type="number" th:field="*{altura}" required/></p>

      <p>Ubicacion: <input type="text" th:field="*{ubicacion}" required/></p>

      <p><input type="text" th:field="*{latitud}" hidden="hidden"/></p>

      <p><input type="text" th:field="*{longitud}" hidden="hidden"/></p>

      <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>
<div class="buttons-container" style=" align-items: center; display: flex; justify-content: center;">
  <a th:href="|/mapa/salir|" style="width: 9%;">Salir</a>
</div>

</body>
</html>