<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Summitrack</title>
  <link rel="stylesheet" href="/css/mapa.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="icon" type="image/png" th:href="@{/images/IconoSummitrack.png}">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
</head>
<body>

  <div th:insert="fragments/header :: header"></div>

  <div id="map">
    <script th:inline="javascript">
      /*<![CDATA[*/
      var montes = /*[[${montes}]]*/ [];
      /*]]>*/

      var map = L.map('map').setView([42.854865, -1.663550], 8);

      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
      }).addTo(map);

      var monteIcon = L.icon({
        iconUrl: '/images/pinMonte.png',
        iconSize: [32, 32],
        iconAnchor: [16, 32],
        popupAnchor: [0, -32]
      });

      montes.forEach(function(monte) {
        L.marker([monte.latitud, monte.longitud], { icon: monteIcon })
          .addTo(map)
          .on('click', function() {
            window.location.href = '/monte/monte?id=' + monte.id + '&volver=/mapa';
          });
      });

      var marker;

      map.on('click', function(e) {
          // Coloca un marcador en el lugar donde el usuario haga click
          if (marker) {
              map.removeLayer(marker);
          }
          marker = L.marker(e.latlng).addTo(map);
      });

      map.on('dblclick', function(e) {
        var lat = e.latlng.lat;
        var lon = e.latlng.lng;
        console.log('Doble clic en Latitud:', lat, 'Longitud:', lon);

        var checkbox = document.querySelector('input[type="checkbox"]');
        var isChecked = checkbox.checked;

        var url = '/mapa/guardar?lat=' + lat + '&lon=' + lon + '&checkbox=' + isChecked;

        var width = 900;
        var height = 750;

        var screenWidth = window.innerWidth;
        var screenHeight = window.innerHeight;

        var left = (screenWidth - width) / 2;
        var top = (screenHeight - height) / 2;

        window.open(url, 'popup', `width=${width},height=${height},left=${left},top=${top},scrollbars=yes,resizable=yes`);
      });
    </script>
  </div>

  <div id="explicacion">
    <p><b>Un click: </b> &nbsp;Seleccionar punto del mapa &nbsp;</p>
    <p><b>Dos clicks: </b> &nbsp;Agregar monte &nbsp;</p>
    <p>
      <b>Habilitar búsqueda de ubicación:</b>
      <input type="checkbox" id="ubicacionCheckbox">&nbsp;&nbsp;
      <span class="tooltip-container">
        <span class="tooltip-icon" title="Si activas esta opción, se sacara el nombre de la ubicacion seleccionada. Si lo dejas desactivo la creacion del monte sera mas rapido.">?</span>
      </span>
    </p>
    <p>
      <b>Crear ruta: &nbsp; </b><button class="btnCrearRuta" id="crearRuta">Crear</button> &nbsp;&nbsp;
      <span class="tooltip-container">
        <span class="tooltip-icon" title="Crea una ruta entre dos puntos.">?</span>
      </span>
    </p>
  </div>
  <script>
    document.getElementById("crearRuta").addEventListener("click", function() {
      window.location = "http://localhost/mapa/crearRuta";
    });
  </script>
</body>
</html>
