<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Summitrack</title>
    <link rel="stylesheet" href="/css/add.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="icon" type="image/png" th:href="@{/images/IconoSummitrack.png}">
</head>
<body>

    <div th:insert="fragments/header :: header"></div>

    <div class="contenedorAdd">
        <form action="#" th:action="@{/anadir/monte}" th:object="${monte}" method="post">


         <input type="hidden" th:if="${editar}" th:field="*{id}"/> <!-- Los inputs disabled no envian informacion, por lo que si esta disables hago esta trampa para enviar informacion. Si no carnet seria null-->


        <p>Nombre: <input type="text" th:field="*{nombre}" required/></p>

        <p>Altura: <input type="number" th:field="*{altura}" required/></p>

        <p>Ubicacion: <input type="text" th:field="*{ubicacion}" required/></p>

        <p>Latitud: <input type="text" th:field="*{latitud}" required/></p>

        <p>Longitud: <input type="text" th:field="*{longitud}" required/></p>


        <button type="submit" class="btn btn-primary">Guardar</button>
      </form>
      <div class="buttons-container">
          <a th:href="|/anadir|">Salir</a>
      </div>
    </div>
</body>
</html>