<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Summitrack</title>
  <link rel="stylesheet" href="/css/all.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="icon" type="image/png" th:href="@{/images/IconoSummitrack.png}">
</head>
<body>
<h1>Ascensiones</h1>

  <div th:insert="fragments/header :: header"></div>

  <a th:href="@{(${volver})}" class="atras">← Atras</a>

  <table>
    <tr>
      <th>Distancia</th>
      <th>Desnivel</th>
      <th>Fecha</th>
      <th>Tiempo</th>
    </tr>
    <tr th:if="${ascensiones.isEmpty()}">
      <td colspan="4" style="text-align:center;">Ninguna ascension hasta el momento</td>
    </tr>
    <tr th:each="ascension : ${ascensiones}">
      <td th:text="${ascension.distancia} + ' km'"></td>
      <td th:text="${ascension.desnivel} + ' m'"></td>
      <td th:text="${ascension.fecha}"></td>
      <td th:text="${ascension.tiempo} + ' h'"></td>
    </tr>
  </table>
</body>
</html>