<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Summitrack</title>
  <link rel="stylesheet" href="/css/all.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="icon" type="image/png" th:href="@{/images/IconoSummitrack.png}">
</head>
<body>

  <div th:insert="fragments/header :: header"></div>

  <h1>Ascensiones</h1>
  <div class="contenedorTabla">
    <table>
      <tr>
        <th>Distancia</th>
        <th>Desnivel</th>
        <th>Tiempo</th>
        <th>Monte</th>
        <th>Personas</th>
      </tr>
      <tr th:each="ascension : ${ascensiones}" th:onclick="'window.location=\'/ascension/individual?id=' + ${ascension.id} + '\';'" style="cursor: pointer;">
        <td th:text="${ascension.distancia} + ' km'"></td>
        <td th:text="${ascension.desnivel} + ' m'"></td>
        <td th:text="${ascension.tiempo} + ' h'"></td>
        <td th:text="${ascension.monte.nombre}"></td>
        <td th:text="${ascension.completa.size()}"></td>
      </tr>
    </table>
  </div>

  <div class="buttons-container">
    <a th:href="|/anadir/ascension|">Añadir</a>
    <a th:href="|/ver|">Salir</a>
  </div>

</body>
</html>