<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Summitrack</title>
    <link rel="icon" type="image/png" th:href="@{/images/IconoSummitrack.png}">
    <link rel="stylesheet" href="/css/individualAscension.css">
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>

    <div th:insert="fragments/header :: header"></div>

    <a th:href="@{/ver/ascension}" class="atras">← Atrás</a>

    <h1 id="nombreMonte" class="titulo-monte">[[${ascension.monte != null ? ascension.monte.nombre : 'Sin Monte'}]]</h1>

    <div class="tarjeta-ascension">
        <div class="propiedades">
            <div class="columna">
                <div><strong>Distancia:</strong> <span th:text="${ascension.distancia}"></span> km</div>
                <div><strong>Desnivel:</strong> <span th:text="${ascension.desnivel}"></span> m</div>
                <div><strong>Fecha:</strong> <span th:text="${ascension.fecha}"></span></div>
                <div><strong>Tiempo:</strong> <span th:text="${ascension.tiempo}"></span> min</div>
            </div>
            <div class="columna">
                <div><strong>Tipo:</strong> <span th:text="${ascension.tipo}"></span></div>
                <div><strong>Peligrosidad:</strong> <span th:text="${ascension.peligrosidad}"></span>/10</div>
                <div><strong>Dificultad:</strong> <span th:text="${ascension.dificultad}"></span>/10</div>
                <div><strong>Apuntes:</strong> <span th:text="${ascension.apuntes}"></span></div>
            </div>
        </div>
        <table>
            <tr>
                <th>Personas que han ascendido</th>
            </tr>
            <tr th:each="persona : ${personas}">
                <td th:text="${persona.nombre}"></td>
            </tr>
        </table>
        <section class="ascension-info">
            <p><br/>
                <b><a th:href="|/anadir/ascension?id=${ascension.id}|" id="linkEditar" style="text-decoration: underline;">Editar</a></b>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b><a th:href="|/ascension/eliminar?id=${ascension.id}|" id="linkEliminar" style="text-decoration: underline;">Eliminar</a></b>
            </p>
        </section>
    </div>

    <div class="tarjeta-imagen">
        <img th:src="@{'/uploads/' + ${ascension.foto}}" alt="Imagen de la ascension" class="imagen-ruta">
    </div>

</body>
</html>
