<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Summitrack</title>
    <link rel="stylesheet" href="/css/all.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="icon" type="image/png" th:href="@{/images/IconoSummitrack.png}">
</head>
<body>
    <div th:insert="fragments/header :: header"></div>

    <h1>Calendario</h1>

    <div th:if="${calendariosPorMes != null}" th:each="entry : ${calendariosPorMes}" class="month-section">
        <h2 th:text="${entry.key}"></h2>

        <table>
            <tr>
                <th>Título</th>
                <th>Descripción</th>
                <th>Monte</th>
                <th>Dia</th>
                <th class="btnOpciones">Editar</th>
                <th class="btnOpciones">Eliminar</th>
            </tr>
            <tr th:each="calendario : ${entry.value}">
                <td th:text="${calendario.titulo}"></td>
                <td th:text="${calendario.descripcion}"></td>
                <td th:text="${calendario.monte.nombre}"></td>
                <td th:text="${calendario.fecha.dayOfMonth}"></td>
                <td><a th:href="|/anadir/calendario?id=${calendario.id}|" id="btnEditar">Editar</a></td>
                <td><a th:href="|/calendario/eliminar?id=${calendario.id}|" id="btnEliminar" >Eliminar</a></td>
            </tr>
        </table>
    </div>

    <div class="buttons-container">
        <a th:href="|/anadir/calendario|">Añadir</a>
        <a th:href="|/ver|">Salir</a>
    </div>
</body>
</html>
